
        :root {
            --line-border-fill: #D400FF;
            --line-border-empty: #383838;
        }



        * {
            box-sizing: border-box;
        }



        body {
            background-color: #f1f1f1;
            font-family: 'Muli', sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            overflow: hidden;
            margin: 0;
        }



        .container {
            text-align: center;
        }



        .progress-container {
            display: flex;
            justify-content: space-between;
            position: relative;
            margin-bottom: 30px;
            max-width: 100%;
            width: 350px;



            &::before { /*en este caso, before esta siendo utilizado para aplicar los efectos detras de la pila de capas*/
                content: '';
                background-color: var(--line-border-empty); /*la barra esta inactiva*/
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%); /*trasladar hacia arriba, a la izquierda verticalmente un 50% de la altura del propio elemento*/
                height: 4px;
                width: 100%;
                z-index: -1; /*coloca los circulos detras de los numeros en la pila de capas*/
            }
        }





        .progress {
            background-color: var(--line-border-fill);  /*para rellener la barra del progreso cuando este se encuentre activa */
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%); /*trasladar hacia arriba, a la izquierda verticalmente un 50% de la altura del propio elemento*/
            height: 4px;
            width: 0%;
            z-index: -1; 
            transition: 0.4s ease;
        }



        .circle {
            background-color: #f1f1f1;
            color:#000000;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 3px solid var(--line-border-empty);
            transition: 0.4s ease;


            &.active {
                border-color: var(--line-border-fill);
            }
        }



        /* .circle:hover {
            background-color: var(--line-border-fill);
            color: #f1f1f1;
            border: 3px solid var(--line-border-fill);
        } */





        .btn {
            background-color: var(--line-border-fill);
            color: #fff;
            border: 0;
            border-radius: 6px;
            cursor: pointer;
            padding: 8px 30px;
            margin: 5px;
            font-size: 14px;


            &:active {
                transform: scale(0.98); /*cuando se hace clic en el boton se reducira el tamaño ligeramente*/
            }


            &:focus {
                outline: 0; /*se está eliminando el contorno cuando el botón está enfocado.*/
            }
            


            &:disabled {
                background-color: var(--line-border-empty);
                cursor: not-allowed;
            }
            
        }


